<div class="container">
  <form class="text-center p-5 form-layout" [formGroup]="form" (ngSubmit)="register()">

    <p class="h4 mb-4">Sign up</p>

      <div class="col">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" formControlName="username">
          <div *ngIf="f.username.touched && f.username.dirty">
            <div class="alert alert-danger" *ngIf="f.username.errors?.required">Username is required</div>
            <div class="alert alert-danger" *ngIf="f.username.errors?.pattern">Username must contain only Alphanumeric characters</div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password">
          <div *ngIf="f.password.touched && f.password.dirty">
            <div class="alert alert-danger" *ngIf="f.password.errors?.required">Password is Required</div>
            <div class="alert alert-danger" *ngIf="f.password.errors?.mustMatch">Password must match</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword">
          <div *ngIf="f.confirmPassword.touched && f.confirmPassword.dirty">
            <div class="alert alert-danger" *ngIf="f.confirmPassword.errors?.required">Confirm Password is required
            </div>
          </div>
        </div>
      </div>

    <hr>

    <button class="btn btn-danger my-4 btn-block w-25 m-auto" type="submit">Sign up</button>
  </form>
  <div *ngIf="loginFailed">
    {{errMessage}}
  </div>

</div>