<div class="container">
<form class="text-center p-5 form-layout" id="share-receipt-form" [formGroup]="form" (submit)="share()">
  <p class="h4 mb-4">Share Recipe</p>

  <div class="col">
    <div class="form-group">
        <label for="meal">Meal</label>
        <input type="text" id="defaultRecepieShareMeal" formControlName="meal" class="form-control mb-4" placeholder="Meal">
        <div *ngIf="f.meal.touched">
            <div class="alert alert-danger" *ngIf="f.meal.errors?.required">Meal is required</div>
            <div class="alert alert-danger" *ngIf="f.meal.errors?.minlength">Meal lenght must be min {{f.meal.errors.minlength.requiredLenght}} symbols</div>
          </div>
    </div>
  </div>

  <div class="col">
    <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <input type="text" id="defaultRecepieShareIngredients" formControlName="ingredients" class="form-control mb-4"
            placeholder="Ingredients">
            <div *ngIf="f.ingredients.touched">
                <div class="alert alert-info">Please separate ingredients by space.</div>
            </div>
        <div *ngIf="f.ingredients.touched">
            <div class="alert alert-danger" *ngIf="f.ingredients.errors?.required">Ingrediends field is required</div>
            <div class="alert alert-danger" *ngIf="f.ingredients.errors?.minlength">Lenght must be atleast {{f.ingredients.errors.minlength.requiredLenght}} characters</div>
        </div>
    </div>
  </div>

  <div class="col">
    <div class="form-group">
        <label for="prepMethod">Method of preparation</label>
        <textarea type="text" id="defaultRecepieShareMethodOfPreparation" formControlName="prepMethod" class="form-control mb-4"
            placeholder="Method of preparation"></textarea>
        <div *ngIf="f.prepMethod.touched">
            <div class="alert alert-danger" *ngIf="f.prepMethod.errors?.required">Method of preparation is required</div>
            <div class="alert alert-danger" *ngIf="f.prepMethod.errors?.minlength">Lenght must be atleast {{f.prepMethod.errors.minlength.requiredLenght}} characters</div>
        </div>
    </div>
  </div>
  
  <div class="col">
    <div class="form-group">
        <label for="foodImageURL">Image</label>
        <input type="text" id="defaultRecepieShareFoodImageURL" formControlName="foodImageURL" class="form-control mb-4"
            placeholder="Food Image URL...">
            <div *ngIf="f.foodImageURL.touched">
                    <div class="alert alert-danger" *ngIf="f.foodImageURL.errors?.required">Image is required</div>
                    <!-- <div class="alert alert-danger" *ngIf="f.foodImageURL.errors?.pattern">Please link a photo</div> -->
            </div>
    </div>
  </div>

  <div class="col">
    <div class="form-group">
        <select formControlName="category">
            <option selected>Select category...</option>
            <option>Vegetables and legumes/beans</option>
            <option>Fruits</option>
            <option>Grain Food</option>
            <option>Milk, cheese, eggs and alternatives</option>
            <option>Lean meats and poultry, fish and alternatives</option>
        </select>
        <div *ngIf="f.category.touched">
            <div class="alert alert-danger" *ngIf="f.category.errors?.required">Category is required</div>
        </div>
    </div>
  </div>
  
  <button class="btn btn-danger w-25 m-auto my-4 btn-block" type="submit" [disabled]="invalid">Share</button>
</form>
<div *ngIf="createRecipeFailed">
  {{errMessage}}
</div>
</div>