<div class=" form-layout p-5">
      <div class="recepieInfo">
          <div class="detailsFoodImage">
              <img src={{recipe.foodImageURL}} alt="foodImageURL">
          </div>
          <div class="infoPack">
          <h3 class="my-3">{{recipe.meal}}</h3>
          <p class="prep-method">{{recipe.prepMethod}}</p>
          </div>
          
      </div>
      <h3 class="my-3 ingredient">Ingredients</h3>
          <div class="detailsIngredients">
            <ul>
              <li>{{recipe.ingredients}}</li>
            </ul>
      </div>
      <div class="actions">
          <div *ngIf="isCreator" class="nav-item">
            <a class="btn btn-danger" (click)="archive()">Archive</a>
            <a class="btn btn-info" (click)="edit()">Edit</a>
          </div>
            <!-- <a class="btn btn-success" routerLink="/like/{{recipe._id}}"> {{recipe.likesCounter}} likes</a> -->
        </div>
  </div>